@use "app/shared/styles/container-mixin/input" as input;
@use "app/shared/styles/container-mixin/svg" as svg;
@use "app/shared/styles/container-mixin/button" as button;
@use "app/shared/styles/others/font" as font;

#login-form {
    display: grid;
    gap: 2rem;
    margin-top: 2.5rem;

    .relative-container {
        position: relative;

        .input {
            @include input.input-container($hasLabel: true);
            & {
                @include font.description-font();
            }
        }

        #label-email,
        #label-password {
            @include input.label-container();
            @include font.label-font();
        }

        .icon-stroke {
            @include svg.svg-label-container();
        }

        .icon-fill {
            @include svg.svg-label-container($stroke: none, $fill: var(--icon-color-primary));
        }

        .missing {
            position: absolute;
            bottom: 0rem;
        }
    }

    #login-button {
        padding: 1rem 2rem;
        @include button.button();
        & {
            @include font.description-font($align: center);
        }
    }
}

#forget-pwd {
    margin-top: 2rem;
    @include button.link-button();
}
