<div class="action-block">
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 1</p>
  </div>
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 2</p>
  </div>
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 3</p>
  </div>
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 4</p>
  </div>
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 5</p>
  </div>
  <div class="action-container" tabindex="0">
    <div class="icon-container">
      <svg class="icon" viewBox="0 0 24 24">
        <path
          d="M4 12H20M12 4V20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <p class="action-description">Aktion 6</p>
  </div>
</div>
