@use 'app/shared/styles/effects' as effects;

@mixin box-container($fit-content: false, $has-shadow: true) {
    position: relative;
    margin: 0 auto;
    background-color: var(--background-color-container-secondary);
    border-radius: 0.3rem;
    
    @if ($fit-content) {
        width: fit-content;
    }
    
    @if ($has-shadow) {
        @include effects.border-shadow-effect();
    }
}