@mixin axis-line() {
    stroke: var(--border-color-primary);
    stroke-width: 0.2rem;
    stroke-linecap: round;
}

@mixin grid-line() {
    stroke: var(--border-color-primary);
    stroke-width: 1px;
    opacity: 0.5;
    shape-rendering: crispEdges;
}