@use 'app/shared/styles/typography/font' as font;

@mixin nav-elem($align: center) {
    display: flex;
    gap: 0.2rem;
    width: fit-content;
    color: var(--text-color-primary);
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    @include font.description-font();
}