@mixin svg-container($width: 2rem, $stroke: var(--icon-color-primary), $fill: none) {
    width: $width;
    margin-right: 0.5rem;
    stroke: $stroke;
    fill: $fill;
    display: flex;
    justify-content: center;
}
