@use 'app/shared/styles/typography/font' as font; 

@mixin tooltip($arrow: none) {
    $bg-color: var(--background-color-container-complement);

    position: absolute;
    color: var(--text-color-complement);
    padding: 0.5rem;
    border-radius: 10%;
    background-color: $bg-color;
    transition: opacity 0.5s;
    z-index: 1;
    @include font.description-font();

    @if ($arrow != none) {
        &::after {
            content: '';
            position: absolute;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
    
            @if ($arrow == left) {
                top: 38%;
                right: 100%;
                border-color: transparent $bg-color transparent transparent;
            } @else if ($arrow == bottom) {
                left: 50%;
                top: 100%;
                border-color: $bg-color transparent transparent transparent;
            } @else if ($arrow == right) {
                top: 38%;
                left: 110%;
                border-color: transparent transparent transparent $bg-color;
            } @else {
                left: 50%;
                bottom: 100%;
                border-color: transparent transparent $bg-color transparent;
            }
        }
    }
}