.text,
#stroke-shape-render,
#stroke-render-1,
#stroke-render-2 {
    text-transform: capitalize;
    font-family: "Tiro Kannada";
    letter-spacing: normal;
    font-style: italic;
    font-weight: 400;
    white-space: pre;
    font-size: 24px;
    text-decoration: var(--text-color-highlight);
    direction: ltr;
}

.text {
    fill: var(--text-color-highlight);
    fill-opacity: 1;
}

#shape-1 {
    fill: none;
    stroke: var(--background-color-container-complement);
    stroke-width: 4;
}

#shape-2 {
    fill: var(--background-color-container-primary);
    stroke: none;
}

#stroke-render-1 {
    fill: none;
    stroke-width: 4;
    stroke: var(--icon-color-warning);
    stroke-opacity: 1;
}

#stroke-render-2 {
    fill: none;
    stroke-width: 2;
    stroke: none;
    stroke-opacity: 1;
}
