@use "../../shared/styles/components" as components;
@use "../../shared/styles/typography/font" as font;

.dashboard-container {
    margin-top: 1rem;

    @media (min-width: 46rem) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .message-block {
        display: grid;
        gap: 2rem;
        margin-top: 1.5rem;

        @media (min-width: 1050px) {
            grid-template-columns: auto auto;
        }

        .message {
            width: 100%;
            height: 20rem;
            line-height: 20rem;
            color: var(--text-color-primary);
            @include components.box-container();
            @include font.description-font($align: center);
        }
    }
}
