@use "../../../styles/others/font" as font;
@use "../../../styles/container-mixin/box" as box;
@use "../../../styles/container-mixin/svg" as svg;

.toast-content {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
    position: relative;
    color: var(--text-color-primary);
    @include box.box-container();
    @include font.description-font();

    .success-icon,
    .error-icon,
    .warning-icon,
    .info-icon,
    .box,
    .close {
        flex: 0 0 auto;
    }

    .box {
        width: 1.5rem;
        height: 100%;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    .success-icon {
        @include svg.svg-label-container($stroke: none, $fill: var(--icon-color-success));
    }

    .success-box {
        background-color: var(--icon-color-success);
    }

    .error-icon {
        @include svg.svg-label-container($stroke: none, $fill: var(--icon-color-error));
    }

    .error-box {
        background-color: var(--icon-color-error);
    }

    .warning-icon {
        @include svg.svg-label-container($stroke: none, $fill: var(--icon-color-warning));
    }

    .warning-box {
        background-color: var(--icon-color-warning);
    }

    .info-icon {
        @include svg.svg-label-container($stroke: var(--icon-color-info));
    }

    .info-box {
        background-color: var(--icon-color-info);
    }

    .time-line {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 0.3rem;
        border-radius: 0.3rem;
    }

    .short-time {
        animation: increase 10s forwards;
    }

    .long-time {
        animation: increase 15s forwards;
    }

    .infinite-time {
        width: 100%;
    }

    .description {
        margin-right: auto;
    }

    .close {
        background: none;
        color: inherit;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;

        .close-icon {
            border-radius: 0.3rem;
            @include svg.svg-label-container($stroke: var(--icon-color-primary));
            margin-right: 0;
            transition: 0.5s background-color;
        }

        &:hover,
        &:focus {
            .close-icon {
                background-color: var(--background-color-button-focus);
            }
        }

        &:active {
            .close-icon {
                background-color: var(--background-color-button-active);
            }
        }
    }
}

@keyframes increase {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
