@use '@angular/material' as mat;
@use './theme.scss' as app-theme;

@mixin dark-theme-color-vars() {
    --background-color-container-primary: #{ mat.get-theme-color(app-theme.$application-theme, neutral, 6) };

    --highlight-color-container-primary: #{ mat.get-theme-color(app-theme.$application-theme, primary, 50) };
    --highlight-color-container-secondary: #{ mat.get-theme-color(app-theme.$application-theme, secondary, 50) };

    --shadow-color-primary: #{ rgba(mat.get-theme-color(app-theme.$application-theme, neutral, 12), 0.35) };
}