@use 'app/shared/styles/typography/font' as font;
@use 'app/shared/styles/components' as components;

#bar-chart-container {
    #bar-chart {  
        .axis {
            font-family: inherit;
            @include font.label-font();

            .axis-text {
                color: var(--text-color-primary);
                font-family: inherit;
            }

            .axis-line, .domain {
                @include components.axis-line();
            }
        }

        .grid-line {
            @include components.grid-line();
        }

        #tooltip {
            @include components.tooltip($arrow: left);
        }
    }
}