@use 'app/shared/styles/typography/font' as font; 

#chart-container {
    #chart {  
        .axis {
            @include font.label-font();

            .axis-text {
                color: var(--text-color-primary);
            }

            .axis-line, .domain {
                stroke: var(--border-color-primary);
                stroke-width: 0.2rem;
                stroke-linecap: round;
            }
        }

        .grid-line {
            fill: none;
            stroke: var(--border-color-primary);
            stroke-width: 1px;
            opacity: 0.5;
            shape-rendering: crispEdges;
        }

        #tooltip {
            position: absolute;
            color: var(--text-color-complement);
            padding: 0.5rem;
            border-radius: 10%;
            background-color: var(--background-color-container-complement);
            transition: opacity 0.5s;
            z-index: 1;
            @include font.description-font();

            &::after {
                content: '';
                position: absolute;
                top: 38%;
                right: 100%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent var(--background-color-container-complement) transparent transparent;
            }
        }
    }
    #legend {
        outline: 2px red solid;
        width: 50px;
        height: 50px;
    }

}