@use "../../styles/container-mixin/blur" as blur;
@use "../../styles/others/font" as font;

.container {
    display: grid;
    @include blur.blur-container();

    .outer-circle {
        padding: 0.8rem;
        margin: auto;
        margin-bottom: 0;
        position: relative;

        .inner-circle {
            background-color: var(--highlight-color-container-primary);
            padding: 0.5rem;
            border-radius: 50%;

            .icon {
                width: 2rem;
                height: 2rem;
                fill: var(--background-color-container-primary);
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0.22rem;
            left: 0.1rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 0.2rem solid;
            border-color: var(--border-color-complement) var(--border-color-secondary) var(--border-color-secondary)
                var(--border-color-secondary);
            animation: spin 1.2s linear infinite;
        }
    }

    .loading-description {
        margin: auto;
        margin-top: 0.5rem;

        .loading-title {
            color: white;
            font-weight: 900;
            @include font.description-font($align: center);
        }

        .loading-text {
            color: white;
            @include font.description-font($align: center);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
