@use "../../styles/container-mixin/blur" as blur;
@use "../../styles/container-mixin/svg" as svg;
@use "../../styles/animations/rotateAnimation" as animation;
@use "../../styles/others/font" as font;

$icon-width: 2rem;

.container {
    display: grid;
    @include blur.blur-container();

    .outer-circle {
        padding: 0.8rem;
        margin: auto;
        margin-bottom: 0;
        position: relative;

        .inner-circle {
            background-color: var(--highlight-color-container-primary);
            padding: 0.5rem;
            width: $icon-width;
            height: $icon-width;
            border-radius: 50%;

            .icon {
                @include svg.svg-container($width: $icon-width, $stroke: none, $fill: var(--background-color-container-primary));
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0.12rem;
            left: 0.1rem;
            width: calc($icon-width * 2);
            height: calc($icon-width * 2);
            border-radius: 50%;
            border: 0.2rem solid;
            border-color: var(--border-color-primary) var(--border-color-secondary) var(--border-color-secondary)
                var(--border-color-secondary);
            @include animation.spin();
        }
    }

    .loading-description {
        margin: auto;
        margin-top: 0.5rem;

        .loading-title {
            color: var(--text-color-primary);
            font-weight: 900;
            @include font.description-font($align: center);
        }

        .loading-text {
            color: var(--text-color-primary);
            @include font.description-font($align: center);
        }
    }
}