@use "../../styles/container-mixin/svg" as svg;
@use "../../styles/others/font" as font;

#invalid-content-container {
    display: flex;
    color: var(--icon-color-error);
    @include font.label-font();
}

#icon {
    @include svg.svg-label-container($width: 1.5rem, $fill: var(--icon-color-error), $stroke: none);
}
