<form id="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="relative-container">
    <!-- The input element for the email -->
    <input id="email" class="input" type="email" formControlName="email" />
    <!-- The label for the email element with an SVG -->
    <div id="label-email" class="label">
      <mat-icon class="icon-stroke" svgIcon="email" [inline]="true"></mat-icon>
      <p>{{ text.email.label }}</p>
    </div>
  </div>
  <div class="relative-container">
    <!-- The element with the information about missing email address -->
    @if (email?.errors?.['required'] && email?.touched) {
      <app-invalid-input
        class="missing"
        [message]="text.email.missing"
        [@moveLeftToRight]></app-invalid-input>
      <!-- The element with the information about invalid email address -->
    } @else if (email?.errors?.['email'] && email?.touched) {
      <app-invalid-input
        class="missing"
        [message]="text.email.invalid"
        [@moveLeftToRight]></app-invalid-input>
    }
  </div>
  <div class="relative-container">
    <!-- The input element for the passord -->
    <input
      id="password"
      class="input"
      type="password"
      formControlName="password" />
    <!-- The label for the password field with an SVG -->
    <div id="label-password" class="label">
      <mat-icon class="icon-fill" svgIcon="password" [inline]="true"></mat-icon>
      <p>{{ text.password.label }}</p>
    </div>
  </div>
  <div class="relative-container">
    <!-- The element with the information about missing password -->
    @if (!password?.valid && password?.touched) {
      <app-invalid-input
        class="missing"
        [message]="text.password.missing"
        [@moveLeftToRight]></app-invalid-input>
    }
  </div>
  <!-- The login button -->
  <button id="login-button">
    {{ text.login }}
  </button>
</form>
<!-- The forget pasword button -->
<button id="forget-pwd" (click)="onForgetPassword()">
  {{ text.forgetPwd }}
</button>
