@mixin slideXIn() {
    animation: XIn 1s;
}

@mixin slideXOut($overlap: false) {
    @if ($overlap) {
        position: absolute;
    }
    animation: XOut 1s;
}

@keyframes XIn {
    from {
        opacity: 0;
        transform: translateX(-2.5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes XOut {
    from {
        opacity: 1;
        transform: translateX(0rem);
    }
    to {
        opacity: 0;
        transform: translateX(2.5rem);
    }
}