@mixin growUp {
    animation: grow 1s;
}

@mixin shrinkDown {
    animation: shrink 1s;
}

@mixin growWidth($time) {
    animation: increaseWidth $time linear forwards;
}

@keyframes grow {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes shrink {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

@keyframes increaseWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}