@mixin slideXIn() {
    animation: XIn 1s;
}

@mixin slideXOut() {
    animation: XOut 1s;
}

@mixin slideYIn() {
    animation: YIn 1s;
}

@mixin slideYOut() {
    animation: YOut 1s;
}

@keyframes XIn {
    from {
        opacity: 0;
        transform: translateX(-2.5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes XOut {
    from {
        opacity: 1;
        transform: translateX(0rem);
    }
    to {
        opacity: 0;
        transform: translateX(2.5rem);
    }
}

@keyframes YIn {
    from {
        opacity: 0;
        transform: translateY(-2.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes YOut {
    from {
        opacity: 1;
        transform: translateY(0rem);
    }
    to {
        opacity: 0;
        transform: translateY(2.5rem);
    }
}