@use "../../../shared/styles/container-mixin/input" as input;
@use "../../../shared/styles/container-mixin/button" as button;
@use "../../../shared/styles/others/font" as font;

#code-form {
    position: relative;
    display: grid;
    gap: 2rem;

    #input-container {
        display: grid;
        grid-auto-flow: column;
        gap: 0.2rem;
        margin-top: 1.5rem;

        .key-field {
            @include input.digit-box-container();
            & {
                @include font.header-font($align: center);
            }
        }
    }

    #relative-container {
        position: relative;

        #missing {
            position: absolute;
            bottom: -0.5rem;
        }
    }

    #proof-code-button {
        padding: 1rem 2rem;
        @include button.button();
        & {
            @include font.description-font($align: center);
        }
    }
}
