.toasts-container,
.overlap-container {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.toasts-container {
    position: sticky;
    top: 4rem;
    max-width: 35rem;
    z-index: 100;

    .overlap-container {
        position: absolute;
        display: grid;
        gap: 0.5rem;
    }
}
