@use '../others/shadow' as shadow;

@mixin box-container($reduceWidth: false) {
    background-color: var(--background-color-container-secondary);
    border-radius: 0.3rem;
    @include shadow.border-shadow-outside();

    @if ($reduceWidth) {
        width: fit-content;
        margin: 0 auto;
    }
}