@use "../others/shadow" as shadow;

@mixin circle-shape(
    $width: 2.5rem,
    $width-small: 1rem,
    $bg-color: var(--background-color-container-primary),
    $screen-bounday: 0rem,
    $hasShadow: false
) {
    width: $width;
    height: $width;
    border-radius: 100%;
    background-color: $bg-color;

    @if ($hasShadow) {
        @include shadow.border-shadow-outside();
    }

    @media (max-width: $screen-bounday) {
        width: $width-small;
        height: $width-small;
    }
}

@mixin circle-container(
    $width: 2.5rem,
    $line-height: 2rem,
    $background-color: var(--background-color-container-secondary),
    $withAnimation: true
) {
    width: $width;
    height: $width;
    background-color: $background-color;
    line-height: $line-height;
    text-align: center;
    border-radius: 50%;
    transition: opacity 0.5s;

    & > svg {
        margin-top: 20%;
    }
    @if ($withAnimation) {
        &:where(:hover, :focus) {
            opacity: 50%;
        }
    }
}
