@use "../others/shadow" as shadow;

@mixin circle-shape(
    $width: 2.5rem,
    $width-small: 1rem,
    $bg-color: var(--background-color-container-primary),
    $screen-bounday: 0rem,
    $hasShadow: false
) {
    width: $width;
    height: $width;
    border-radius: 100%;
    background-color: $bg-color;

    @if ($hasShadow) {
        @include shadow.border-shadow-outside();
    }

    @media (max-width: $screen-bounday) {
        width: $width-small;
        height: $width-small;
    }
}
