@use '../others/shadow' as shadow;

@mixin input-container($hasLabel: false) {
    padding: 0.4rem;
    width: 93%;
    background-color: var(--background-color-container-secondary);
    color: var(--text-color-primary);
    outline: none;
    border: none;
    border-bottom: 0.2rem var(--border-color-primary) solid;
    transition: border-color 0.5s ease-out;

    &:focus {
        border-color: var(--border-color-secondary);
    }

    @if ($hasLabel) {
        &:where(:focus, .ng-dirty) ~ .label {
            transform: translateY(-60%);
        }
    }
}

@mixin label-container() {
    display: flex;
    position: absolute;
    width: 100%;
    color: var(--text-color-primary);
    bottom: 0;
    opacity: 0.4;
    pointer-events: none;
    transition: all 0.5s;
}

@mixin digit-box-container(){
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color-primary);
    background-color: var(--background-color-container-primary);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    @include shadow.border-shadow-outside();

    &:focus{
        @include shadow.border-shadow-outside-highlight();
        outline: none;
    }
}
