<nav>
  <div class="nav-container">
    <!-- Logo -->
    <div id="nav-elem-left">
      <a routerLink="/dashboard" routerLinkActive="active">
        <div id="logo">
          <mat-icon svgIcon="logo" [inline]="true"></mat-icon>
          <p>FinBoKe</p>
        </div>
      </a>
    </div>
    <div id="nav-elem-middle">
      <!-- Dashboard link -->
      <app-nav-element type="dashboard" class="can-hide"></app-nav-element>
      <!-- Finance link -->
      <app-nav-element type="finances" class="can-hide"></app-nav-element>
    </div>
    <!-- Profil button -->
    <div id="nav-elem-right">
      <div id="language">
        <app-language></app-language>
      </div>
      <a
        appOnClickOutside
        role="button"
        (click)="onProfile()"
        (keydown.enter)="onProfile()"
        tabindex="0">
        <img id="profile" [src]="imagePath()" [alt]="firstLetter()" />
      </a>
    </div>
  </div>
  <!-- Profile window -->
  @if (activeProfile()) {
    <div
      appOnClickOutside
      class="vertical-secondary-nav"
      animate.enter="enterY"
      animate.leave="leaveY"
      (clickOutside)="onOutside()">
      <app-nav-element
        type="profile"
        [borderAnimation]="true"></app-nav-element>
      <app-nav-element
        type="settings"
        [borderAnimation]="true"></app-nav-element>
      <app-nav-element type="logout" [borderAnimation]="true"></app-nav-element>
    </div>
    <div
      class="vertical-primary-nav"
      animate.enter="enterY"
      animate.leave="leaveY">
      <!-- Dashboard link -->
      <app-nav-element
        type="dashboard"
        [borderAnimation]="true"></app-nav-element>
      <!-- Finance link -->
      <app-nav-element
        type="finances"
        [borderAnimation]="true"></app-nav-element>
      <app-nav-element
        type="profile"
        [borderAnimation]="true"></app-nav-element>
      <app-nav-element
        type="settings"
        [borderAnimation]="true"></app-nav-element>
      <app-nav-element type="logout" [borderAnimation]="true"></app-nav-element>
    </div>
  }
</nav>
