@use "app/shared/styles/effects" as effects;
@use "app/shared/styles/components" as components;
@use "app/shared/styles/typography/font" as font; 

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    @include effects.border-shadow-effect();

    .nav-container {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        background-color: var(--background-color-container-primary);

        .nav-elem {
            flex: 1;
            display: grid;
            text-decoration: none;
            cursor: pointer;

            .logo {
                display: flex;
                align-items: center;
                margin: 0.5rem auto 0.5rem 0.5rem;

                :first-child {
                    @include components.svg-container();
                }
                :last-child {
                    margin: 0;
                    font-weight: 800;
                    color: var(--text-color-highlight);
                    @include font.title-font();
                }
            }

            .profile-btn {
                color: var(--text-color-highlight);
                margin: auto 0.5rem auto auto;
                line-height: 2.5rem;
                @include components.circle-container();
            }
        }

        :first-child {
            text-align: left;
        }

        :last-child {
            text-align: right;
        }

    }
    .vertical-secondary-nav,
    .vertical-primary-nav {
        position: absolute;
        top: 5rem;
        right: 0.5rem;
        width: 11rem;
        background-color: var(--background-color-container-secondary);
        border-radius: 5%;
        border: 0.1rem var(--border-color-secondary) solid;
        padding: 0.5rem 1.8rem 0.5rem 0.8rem;
        @include effects.border-shadow-effect();
    }
}

$desktop-screen-width: 46rem;

@media (min-width: $desktop-screen-width) {
    .vertical-primary-nav {
        visibility: hidden;
    }
}

@media (max-width: $desktop-screen-width) {
    .can-hide {
        display: none;
    }

    .vertical-secondary-nav {
        visibility: hidden;
    }
}
