@use "app/shared/styles/effects" as effects;
@use "app/shared/styles/components" as components;
@use "app/shared/styles/typography/font" as font; 

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    @include effects.border-shadow-effect();

    .nav-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: var(--background-color-container-primary);

        #nav-elem-left, #nav-elem-right {
            a {
                @include components.nav-elem();
            }
        }

        #nav-elem-left {
            display: grid;
            margin-left: 0.5rem;

            #logo {
                display: flex;
                align-items: center;

                :first-child {
                    @include components.svg-container();
                }
                :last-child {
                    margin: 0;
                    font-weight: 800;
                    color: var(--text-color-highlight);
                    @include font.title-font();
                }
            }
        }

        #nav-elem-middle {
            display: flex;
            gap: 0.8rem;
            margin: 0.5rem 0 0.5rem;
            justify-content: center;
        }

        #nav-elem-right {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 0.5rem;

            #profile {
                color: var(--text-color-highlight);
                line-height: 2.5rem;
                @include components.circle-container();
                @include effects.opacity-effect($properties: opacity, $time: 0.5s);
            }

            #language {
                margin-right: 0.8rem;
            }
        }

    }
    .vertical-secondary-nav,
    .vertical-primary-nav {
        @include components.vertical-menu();
    }
}

$desktop-screen-width: 46rem;

@media (min-width: $desktop-screen-width) {
    .vertical-primary-nav {
        visibility: hidden;
    }
}

@media (max-width: $desktop-screen-width) {
    .can-hide {
        display: none;
    }

    .vertical-secondary-nav {
        visibility: hidden;
    }
}
