@use "app/shared/styles/typography/font" as font;
@use "app/shared/styles/components" as components;
@use "app/shared/styles/effects" as effects;

.nav-elem {
    @include components.nav-elem();
    @include font.description-font();

    .nav-elem-icon-stroke {
        @include components.svg-container($stroke: var(--icon-color-primary));
        transition: stroke 0.5s;
    }

    .nav-elem-icon-fill {
        @include components.svg-container($stroke: none, $fill: var(--icon-color-primary));
        transition: fill 0.5s;
    }

    .nav-elem-description {
        transition: color 0.5s;
        font-weight: 900;
    }

    &:is(.underline-animation) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        .nav-elem-description::after{
            content: "";
            display: block;
            transform: scaleX(0);
            height: 0.15rem;
            background-color: var(--highlight-color-container-primary);
            transition: transform 0.5s ease-out;
        }
    }
    &:is(.border-animation) {
        @include effects.left-border-effect($properties: padding, $time: 0.4s);
    }

    &:hover,
    &:focus {
        .nav-elem-icon-stroke {
            stroke: var(--icon-color-highlight);
        }

        .nav-elem-icon-fill {
            fill: var(--icon-color-highlight);
        }

        .nav-elem-description {
            color: var(--text-color-highlight);
        }

        &:is(.underline-animation) {
            .nav-elem-description::after {
                transform: scaleX(1);
            }
        }
    }
}

.active {
    color: var(--text-color-highlight);

    .nav-elem-icon-stroke {
        stroke: var(--icon-color-highlight);
    }

    .nav-elem-icon-fill {
        fill: var(--icon-color-highlight);
    }

    &:is(.underline-animation) {
        .nav-elem-description::after {
            transform: scaleX(1);
        }
    }
}
