@use "app/shared/styles/typography/font" as font;
@use "app/shared/styles//components" as components;

.nav-elem {
    display: flex;
    gap: 0.8rem;
    color: var(--text-color-primary);
    align-items: center;
    cursor: pointer;
    transition:
        border 0.5s,
        padding 0.5s;
    @include font.description-font();

    .nav-elem-icon-stroke {
        @include components.svg-container($stroke: var(--icon-color-primary));
        transition: stroke 0.5s;
    }

    .nav-elem-icon-fill {
        @include components.svg-container($stroke: none, $fill: var(--icon-color-primary));
        transition: fill 0.5s;
    }

    .nav-elem-description {
        transition: color 0.5s;
        font-weight: 900;

        &::after {
            content: "";
            display: block;
            transform: scaleX(0);
            height: 0.15rem;
            background-color: var(--highlight-color-container-primary);
            transition: transform 0.5s ease-out;
        }
    }

    &:hover,
    &:focus {
        .nav-elem-icon-stroke {
            stroke: var(--icon-color-highlight);
        }

        .nav-elem-icon-fill {
            fill: var(--icon-color-highlight);
        }

        .nav-elem-description {
            color: var(--text-color-highlight);
        }

        &:is(.border-animation) {
            border-left: 0.2rem var(--border-color-secondary) solid;
            padding-left: 0.5rem;
        }

        &:is(.underline-animation) {
            .nav-elem-description::after {
                transform: scaleX(1);
            }
        }
    }
}

.active {
    color: var(--text-color-highlight);

    .nav-elem-icon-stroke {
        stroke: var(--icon-color-highlight);
    }

    .nav-elem-icon-fill {
        fill: var(--icon-color-highlight);
    }

    &:is(.underline-animation) {
        .nav-elem-description::after {
            transform: scaleX(1);
        }
    }
}
