@use "app/shared/styles/components" as components;
@use "app/shared/styles/effects" as effects;

$icon-color: var(--icon-color-primary);
$icon-color-highlight: var(--icon-color-highlight);
$text-color-highlight: var(--text-color-highlight);
$duration: 0.5s;

.nav-elem {
    @include components.nav-elem();

    .nav-elem-icon-stroke {
        @include components.svg-container($stroke: $icon-color);
        transition: stroke $duration;
    }

    .nav-elem-icon-fill {
        @include components.svg-container($stroke: none, $fill: $icon-color);
        transition: fill $duration;
    }

    .nav-elem-description {
        font-weight: 900;
        transition: color $duration;
    }

    &:is(.underline-animation) {
        .nav-elem-description {
            @include effects.bottom-border-effect($properties: transform, $time: $duration);
        }
    }
    &:is(.border-animation) {
        @include effects.left-border-effect($properties: padding, $time: $duration);
    }

    &:hover,
    &:focus {
        .nav-elem-icon-stroke {
            stroke: $icon-color-highlight;
        }

        .nav-elem-icon-fill {
            fill: $icon-color-highlight;
        }

        .nav-elem-description {
            color: $text-color-highlight;
        }

        &:is(.underline-animation) {
            .nav-elem-description::after {
                transform: scaleX(1);
            }
        }
    }
}

.active {
    color: $text-color-highlight;

    .nav-elem-icon-stroke {
        stroke: $icon-color-highlight;
    }

    .nav-elem-icon-fill {
        fill: $icon-color-highlight;
    }

    &:is(.underline-animation) {
        .nav-elem-description::after {
            transform: scaleX(1);
        }
    }
}
