@use "app/shared/styles/typography/font" as font;
@use "app/shared/styles//components" as components;

.nav-elem {
    display: flex;
    gap: 0.2rem;
    color: var(--text-color-primary);
    align-items: center;
    cursor: pointer;
    transition: padding 0.5s;
    @include font.description-font();

    .nav-elem-icon-stroke {
        @include components.svg-container($stroke: var(--icon-color-primary));
        transition: stroke 0.5s;
    }

    .nav-elem-icon-fill {
        @include components.svg-container($stroke: none, $fill: var(--icon-color-primary));
        transition: fill 0.5s;
    }

    .nav-elem-description {
        transition: color 0.5s;
        font-weight: 900;
    }

    &:is(.underline-animation) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        .nav-elem-description::after{
            content: "";
            display: block;
            transform: scaleX(0);
            height: 0.15rem;
            background-color: var(--highlight-color-container-primary);
            transition: transform 0.5s ease-out;
        }
    }
    &:is(.border-animation) {
        position: relative;
        overflow: hidden;
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0.2rem;    
            height: 100%;
            background-color: var(--highlight-color-container-primary);
            transform: translateY(-100%);
            transition: transform 0.4s ease;
        }
    }

    &:hover,
    &:focus {
        .nav-elem-icon-stroke {
            stroke: var(--icon-color-highlight);
        }

        .nav-elem-icon-fill {
            fill: var(--icon-color-highlight);
        }

        .nav-elem-description {
            color: var(--text-color-highlight);
        }

        &:is(.border-animation) {
            padding-left: 0.5rem;
            &::after{
                transform: translateY(0);
            }
        }

        &:is(.underline-animation) {
            .nav-elem-description::after {
                transform: scaleX(1);
            }
        }
    }
}

.active {
    color: var(--text-color-highlight);

    .nav-elem-icon-stroke {
        stroke: var(--icon-color-highlight);
    }

    .nav-elem-icon-fill {
        fill: var(--icon-color-highlight);
    }

    &:is(.underline-animation) {
        .nav-elem-description::after {
            transform: scaleX(1);
        }
    }
}
