@use "../../shared/styles/container-mixin/box" as box;
@use "../../shared/styles/others/font" as font;

#title {
    color: var(--highlight-color-container-primary);
    @include font.title-font($align: center);
}

.container {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    width: fit-content;
    margin: 0 auto;
    @include box.box-container();

    .grid-container {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        transition: grid-template-columns 0.5s;

        @media (min-width: 26rem) {
            grid-auto-flow: column;
            &:has(#login.inactive) {
                grid-template-columns: 50% 50%;
                overflow: hidden;
            }
            &:has(#register.inactive) {
                grid-template-columns: 50% 50%;
            }
            &:has(#register.inactive:is(:hover, :focus)) {
                grid-template-columns: 0% 100%;
            }
            &:has(#login.inactive:is(:hover, :focus)) {
                grid-template-columns: 100% 0%;
            }
        }

        #login,
        #register {
            padding: 1rem 2rem;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 0.3rem;
            background-color: inherit;
            color: var(--text-color-primary);
            white-space: nowrap;
            @include font.description-font($align: center);

            &.inactive {
                background-color: var(--background-color-container-complement);
                color: var(--highlight-color-container-primary);
                transition: all 0.5s;
            }

            &.inactive:is(:hover, :focus) {
                background-color: var(--highlight-color-container-primary);
                color: var(--text-color-primary);
            }
        }
    }

    .overlap-grid-container {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        padding: 1rem 2rem;
    }

    #loading {
        grid-row: 1 / 3;
        grid-column: 1;
    }
}
