@use "./shared/styles/container-mixin/circle" as circle;

.small-shape-bottom,
.large-shape-bottom {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.small-shape-left,
.large-shape-left {
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.small-shape-bottom,
.small-shape-left {
    z-index: -1;
    @include circle.circle-shape(
        $width: 20rem,
        $width-small: 15rem,
        $bg-color: var(--highlight-color-container-primary),
        $screen-bounday: 60rem,
        $hasShadow: true
    );
}

.large-shape-bottom,
.large-shape-left {
    z-index: -2;
    @include circle.circle-shape(
        $width: 25rem,
        $width-small: 20rem,
        $bg-color: var(--highlight-color-container-secondary),
        $screen-bounday: 60rem,
        $hasShadow: true
    );
}
