@use './colors.scss' as colors;

$shadow-border-light-bg: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-border-dark-bg: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

$default-border-radius: 0.3rem;

// This mixin defines a simple container for abitrary content
@mixin card-container (){
    background-color: colors.$white;
    border-radius: $default-border-radius;
    box-shadow: $shadow-border-light-bg;
}

// This mixin defines a simple container for an input element
@mixin input-container (){
    padding: 0.4rem;
    outline: none;
    border: none;
    border-bottom: 3px colors.$very-dark-gray solid;
    transition: border-color 0.5s ease-out;

    &:focus{
        border-color: colors.$moderate-red;
    }
}

// This mixin defines some simple styling rules for a input element with the capacity of a single digit
@mixin input-code-container(){
    $border-line-width: 0.2rem;
    background-color: colors.$light-grey;
    border: $border-line-width colors.$white solid;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.5s; 
    
    &:focus{
        border: $border-line-width colors.$moderate-red solid;
    }
}

/* 
    This mixin defines a simple container for an label element 
    $left   - margin to the left
    $top    - margin to the top  
*/
@mixin label-container ($left: 0, $top: 0){
    display: flex;
    position: absolute;
    left: $left;
    top: $top;
    opacity: 0.4;
    pointer-events: none;
    transition: all 0.5s;
}

/**
    This mixin defines a simple container for a SVG icon
    $width      - The width of the icon
    $colors     - The color of the icon
    $isStroke   - If the stroke property should be used, otherwise fill
*/
@mixin svg-icon-container($width: 1.6rem, $color: colors.$black, $isStroke: false) {
    width: $width;
    @if $isStroke {
        stroke: $color;
    } @else {
        fill: $color;
    }
}

/*
    This mixin defines a simple container for an SVG-element
    $width      - defines the width of the SVG
    $stroke     - the color for the stroke
    $fill       - the color for the interior
*/
@mixin svg-label-container ($width: 35px, $stroke: colors.$very-dark-gray, $fill: none){
    width: $width;
    margin-right: 15px;
    stroke: $stroke;
    fill: $fill;
}

/*
    This mixin defines a simple container which blurs the complete background
    $blur               - the actual blur effect and its strength
    $background-color   - the background color
*/
@mixin blur-container($height: 100%, $transform: translate(0, 0), $blur: blur(0.3rem), $background-color: none){
    transform: $transform;
    width: 100.5%;
    height: $height;
    backdrop-filter: $blur;
    border-radius: 1%;
    background-color: $background-color;
}

@mixin circle-container($width: 2.5rem, $line-height: 2rem, $background-color: colors.$light-grey, $withAnimation: true) {
    width: $width;
    height: $width;
    background-color: $background-color;
    line-height: $line-height;
    text-align: center;
    border-radius: 50%;
    transition: opacity 0.5s;

    & > svg {
        margin-top: 20%;
    }
    @if ($withAnimation) {
        &:where(:hover, :focus) {
            opacity: 50%;
        }
    }
}