<h1 id="title" *transloco="let text">{{ text('auth.title') }}</h1>
<div class="container" *transloco="let text">
  <div class="grid-container">
    <!-- Button to access the login screen -->
    <button id="login" [ngClass]="{ inactive: !isLogin() }" (click)="onLogin()">
      {{ text('auth.actions.login') }}
    </button>
    <!-- Button to access the register screen -->
    <button
      id="register"
      [ngClass]="{ inactive: isLogin() }"
      (click)="onRegister()">
      {{ text('auth.actions.register') }}
    </button>
  </div>
  <div class="overlap-grid-container">
    @if (isLogin()) {
      <!-- Set email for reset password screen -->
      @if (isCode() && email) {
        <app-set-code
          [@moveLeftToRight]
          (sendCode)="onSetCode($event)"></app-set-code>
        <!-- Set security code screen -->
      } @else if (isCode() && !email) {
        <app-get-code
          [@moveLeftToRight]
          [emailValue]="email"
          (setEmail)="onSetEmail($event)"></app-get-code>
        <!-- Login screen -->
      } @else {
        <app-login
          [@moveLeftToRight]
          (login)="onSubmitLogin($event)"
          (forgetPwd)="onForgetPwd()"></app-login>
      }
      <!-- Register screen -->
    } @else {
      <app-register [@moveLeftToRight]></app-register>
    }
  </div>
  <!-- Loading screen -->
  @if (waiting) {
    <app-loading
      id="loading"
      [message]="text('loading-screen.send')"></app-loading>
  }
</div>
