@mixin border-shadow-effect() {
    box-shadow:
        var(--shadow-color-primary) 0rem 1.8rem 3.7rem -0.7rem,
        var(--shadow-color-primary) 0rem 1.1rem 2.2rem -1.1rem;
}

@mixin background-shadow-effect() {
    box-shadow: 0.625rem 0.625rem var(--shadow-color-highlight);
}
