<div *transloco="let text">
  @if (type() === 'dashboard') {
    <a
      class="nav-elem"
      routerLink="/dashboard"
      routerLinkActive="active"
      [ngClass]="
        borderAnimation() ? 'border-animation' : 'underline-animation'
      ">
      <mat-icon
        class="nav-elem-icon-fill"
        svgIcon="dashboard"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.dashboard) }}
      </p>
    </a>
  } @else if (type() === 'finances') {
    <a
      class="nav-elem"
      routerLink="/finances"
      routerLinkActive="active"
      [ngClass]="
        borderAnimation() ? 'border-animation' : 'underline-animation'
      ">
      <mat-icon
        class="nav-elem-icon-stroke"
        svgIcon="finances"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.finances) }}
      </p>
    </a>
  } @else if (type() === 'accounts') {
    <a
      class="nav-elem"
      routerLink="/accounts"
      routerLinkActive="active"
      [ngClass]="
        borderAnimation() ? 'border-animation' : 'underline-animation'
      ">
      <mat-icon
        class="nav-elem-icon-fill"
        svgIcon="accounts"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.accounts) }}
      </p>
    </a>
  } @else if (type() === 'profile') {
    <a
      class="nav-elem"
      routerLink="/profile"
      routerLinkActive="active"
      [ngClass]="
        borderAnimation() ? 'border-animation' : 'underline-animation'
      ">
      <mat-icon
        class="nav-elem-icon-fill"
        svgIcon="profile"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.profile) }}
      </p>
    </a>
  } @else if (type() === 'settings') {
    <a
      class="nav-elem"
      routerLink="/settings"
      routerLinkActive="active"
      [ngClass]="
        borderAnimation() ? 'border-animation' : 'underline-animation'
      ">
      <mat-icon
        class="nav-elem-icon-stroke"
        svgIcon="settings"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.settings) }}
      </p>
    </a>
  } @else if (type() === 'logout') {
    <a
      class="nav-elem"
      [ngClass]="borderAnimation() ? 'border-animation' : 'underline-animation'"
      role="button"
      tabindex="0"
      (click)="onLogout()"
      (keydown.enter)="onLogout()">
      <mat-icon
        class="nav-elem-icon-fill"
        svgIcon="logout"
        [inline]="true"></mat-icon>
      <p class="nav-elem-description">
        {{ text(translationKeys.navbar.logout) }}
      </p>
    </a>
  }
</div>
