@use "app/shared/styles/container-mixin/svg" as svg;
@use "app/shared/styles/others/font" as font;

#invalid-content-container {
    display: flex;
    color: var(--icon-color-error);
    @include font.label-font();

    #message {
        align-self: center;
        margin: 0;
    }

    #icon {
        @include svg.svg-label-container($width: 1.3rem, $fill: var(--icon-color-error), $stroke: none);
    }
}

