@use "@angular/material" as mat;
@use "./app/shared/styles/animations/slideAnimation" as animations-slide;
@use "./app/shared/styles/animations/sizeAnimation" as animations-size;
@use "./app/shared/styles/color/light_theme_colors" as light-theme;
@use "./app/shared/styles/color/dark_theme_colors" as dark-theme;
@use "./app/shared/styles/color/theme" as theme-obj;

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color-container-primary);
  font-family: mat.get-theme-typography(theme-obj.$application-theme, display-large, font-family);
}

:root {
  @include light-theme.light-theme-color-vars();
}

:root body.dark {
  @include dark-theme.dark-theme-color-vars();
}

// Animation classes

.enterX {
  @include animations-slide.slideXIn();
}

.leaveX {
  @include animations-slide.slideXOut();
}

.enterY {
  @include animations-slide.slideYIn();
}

.leaveY {
  @include animations-slide.slideYOut();
}

.grow {
  @include animations-size.growUp();
}

.shrink {
  @include animations-size.shrinkDown();
}
