@use "../../../shared/styles/container-mixin/input" as input;
@use "../../../shared/styles/container-mixin/svg" as svg;
@use "../../../shared/styles/container-mixin/button" as button;
@use "../../../shared/styles/others/font" as font;

#email-form {
    display: grid;
    gap: 2rem;
    margin-top: 1.5rem;

    .relative-container {
        position: relative;

        .input {
            @include input.input-container($hasLabel: true);
            & {
                @include font.description-font();
            }
        }

        #label-email {
            @include input.label-container();
            & {
                @include font.label-font();
            }
        }

        .icon {
            @include svg.svg-label-container();
        }

        .missing {
            position: absolute;
            bottom: -0.5rem;
        }
    }

    #send-code-button {
        padding: 1rem 2rem;
        @include button.button();
        & {
            @include font.description-font($align: center);
        }
    }
}
